<h1>My transactions : </h1>
<button class="addButton" (click)="showHide = !showHide">Add new transaction</button>
<app-addform *ngIf="!showHide"></app-addform>

<div *ngIf="showHide">
  <div *ngIf="!loading">
    <ul *ngIf="recordsService.records.length; else noTodos">
      <li *ngFor="let item of recordsService.records; let i = index">
        <input type="checkbox" [checked]="item.completed" (change)="onChange(item.id)">
        <strong>{{i + 1}}</strong>
        <span [class.done]="item.completed">
      {{item.name}}
    </span>
        <span [class.done]="item.completed">
      {{item.category}}
    </span>
        <span [class.done]="item.completed">
      {{item.amount}}
    </span>
        <span [class.done]="item.completed">
        {{item.creationDate | date:'medium'}}
    </span>
        <button class="rm" (click)="removeTodo(item.id)">&times;</button>
      </li>
    </ul>
    <ng-template #noTodos>
      <p style="text-align: center">There is no transactions</p>
    </ng-template>
  </div>
  <p *ngIf="loading">Loading...</p>
</div>
