<h1>My transactions : </h1>
<button class="addButton">Add new transaction</button>
<div *ngIf="!loading">
  <ul *ngIf="todoService.records.length; else noTodos">
    <li *ngFor="let todo of todoService.records; let i = index">
      <input type="checkbox" [checked]="todo.completed" (change)="onChange(todo.id)">
      <strong>{{i + 1}}</strong>
      <span [class.done]="todo.completed">
      {{todo.name}}
    </span>
      <span [class.done]="todo.completed">
      {{todo.category}}
    </span>
      <span [class.done]="todo.completed">
      {{todo.amount}}
    </span>
      <span [class.done]="todo.completed">
        {{todo.creationDate | date:'medium'}}
    </span>
      <button class="rm" (click)="removeTodo(todo.id)">&times;</button>
    </li>
  </ul>
  <ng-template #noTodos>
    <p style="text-align: center">There is no transactions</p>
  </ng-template>
</div>
<p *ngIf="loading">Loading...</p>
