<div>
  <form>

    <label for="fname">Name of activity</label>
    <input [formControl]="nameControl" type="text" id="fname">

    <label for="fdescription">Description</label>
    <input [formControl]="descriptionControl" type="text" id="fdescription">

    <label for="fcategory">Category</label>
    <input [formControl]="categoryControl" type="text" id="fcategory">

    <label for="ftype">Type</label>
    <input [formControl]="typeControl" type="text" id="ftype">

    <label for="famount">Amount</label>
    <input [formControl]="amountControl" type="text" id="famount">

    <button (click)="onSubmit()">Submit Activity</button>

  </form>
</div>
