html, body {
  font-family: "fira-sans-2", sans-serif;
  color: #333;
}

.container {
  width: 1760px;
  margin: 0 auto;
}

dl {
  display: flex;
  background-color: white;
  flex-direction: column;

  position: relative;
  padding: 20px;
}

dt {

  align-self: flex-start;
  width: 100%;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
  margin-left: 130px;
}


.text {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 40px;
  width: 130px;
  background-color: white;
  position: absolute;
  left: 0;
  justify-content: flex-end;
}

.percentage {
  font-size: .8em;
  line-height: 1;
  text-transform: uppercase;
  height: 40px;
  margin-left: 130px;
  background: repeating-linear-gradient(
      to right,
      #ddd,
      #ddd 1px,
      #fff 1px,
      #fff 5%
  );

  &:after {
    content: "";
    display: block;
    background-color: #4CAF50;
    width: 50px;
    margin-bottom: 10px;
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s ease;
    cursor: pointer;
  }

  &:hover,
  &:focus {
    &:after {
      background-color: #aaa;
    }
  }
}

button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  transition: .5s;
  border: 1px solid transparent;
}

button:hover {
  color: #4CAF50;
  border: 1px solid #4CAF50;
  background: #ffffff;
}

@for $i from 1 through 100 {
  .percentage-#{$i} {
    &:after {
      $value: ($i * 1%);
      width: $value;
    }
  }
}

.span {
  margin-left: 30px;
  font-weight: bold;
}
